################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Laitis.Contracts/obj/Debug
/LaitisIntegration/.vs/LaitisIntegration/v15
*.suo
/LaitisIntegration/LaitisIntegration.sln.DotSettings.user
/LaitisIntegration.sln.DotSettings.user
/Laitis.Contracts/bin/Debug
/Laitis.ExternalExtensionExample/obj/Debug
/Laitis.InternalExtensionExample/bin/Debug
/Laitis.InternalExtensionExample/obj/Debug
/packages
/Laitis.Contracts/Laitis.Contracts.csproj.user
/Laitis.ExternalExtensionExample/bin/Debug
/.vs/LaitisIntegration/v15/Server/sqlite3
